series is like column 
it is one-d array holding data of any type.

In [2]:
import pandas as pd

a = [1,3,5]
b = pd.Series(a)
print(b)
print(b[0])

0    1
1    3
2    5
dtype: int64
1

creating label with the index arguments

In [6]:
import pandas as pd
a = [1,3,5]
b = pd.Series(a,index=["x","y","z"])
print(b)
print(b["x"])

x    1
y    3
z    5
dtype: int64
1

key/value can be used like dictionary,when creating a series

In [7]:
import pandas as pd
bp = {"first":160,"second":140,"third":120}
mv = pd.Series(bp)
print(mv)

first     160
second    140
third     120
dtype: int64

to select required one use index method

In [8]:
import pandas as pd

bp = {"first":160,"second":140,"third":120}
mv = pd.Series(bp,index=["first","second"])
print(mv)

first     160
second    140
dtype: int64

data sets in pandas are usually multi-dimensional tables,called Dataframes.
Series is like table
Dataframe is the whole table

In [10]:
mds = {
    'cars':["Mahindra","Ferari","Lamborghini"],
    'rank':[3,1,2]
}

mv = pd.DataFrame(mds)
print(mv)

          cars  rank
0     Mahindra     3
1       Ferari     1
2  Lamborghini     2